div[data-testid="stExpander"] details summary p{
    font-size: 1.7rem;
}

div[data-testid="stMultiSelect"] p{
    font-size: 1rem;
}

div[data-testid="stTextInput"] p{
    font-size: 1rem;
}

div[data-testid="stSelectbox"] p{
    font-size: 1rem;
}

div[data-testid="stNumberInput"] p{
    font-size: 1rem;
}

div[data-testid="stInfo"] p{
    background-color: red;
}

header {visibility: hidden;}

.block-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
}